<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About</title>
    <script>
      app = require('./about.component.js');
      app.init();
    </script>
  </head>
  <body>
    <h1><script>document.write(app.title)</script></h1>

    <p>Window Name: <span  style="font-weight:bold"><script>document.write(app.windowName())</script></span></p>
    
    <div style="padding: 15px;">
      <span>Send Message to Main Window</span>
      <input id="msg">
      <button onclick="app.send(document.getElementById('msg').value)">Send</button> 
    </div>

    <h4>Messages from Main Window</h4>
    <div id="messages" style="padding: 15px"></div>

  </body>
</html>
