<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Electron Window Service</title>
    <script>
      app = require('./app.component.js');
      app.init();
    </script>
  </head>
  <body>
    <h1><script>document.write(app.title)</script></h1>

    <p>Window Name: <span  style="font-weight:bold"><script>document.write(app.windowName())</script></span></p>

    <p>We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.</p>

    <p>Currently Opened Windows</p>
    <div id="windowList"></div>

    <br/>
    <br/>
    
    <div style="padding:15px">
      <button onclick="app.about()">About</button> 
    </div>

    <div style="padding: 15px;">
      <span>Send Message to About Window</span>
      <input id="msg">
      <button onclick="app.send(document.getElementById('msg').value)">Send</button> 
    </div>

    <h4>Messages from About Window</h4>
    <div id="messages" style="padding: 15px"></div>

  </body>
</html>
